<!-- <app-rjit></app-rjit> -->
<!-- <table>
    <tr>
        <th>name</th>
        <th>caregory</th>
        <th>brand</th>
        <th>desc</th>
        <th>price</th>
    </tr>
    <tr *ngFor="let news of newsdata">
          <td>{{news.name}}</td>
          <td>{{news.caregory}}</td>
          <td>{{news.brand}}</td>
          <td>{{news.desc}}</td>
          <td>{{news.price}}</td>
      </tr>
</table> -->
<!-- <h1>{{ "Anil" | lowercase }}</h1>
  <h1>{{ "anil" | titlecase }}</h1>
  <p>My Name is:<span class="text-dark"> {{ myname | slice:4:9 }}</span></p>
  <p>My Date of Birth:<span class="text-dark"> {{ mydate | date }}</span></p>
  <p>My Date of Birth:<span class="text-dark"> {{ mydate | date:'shortTime' }}</span></p>
  <p>My Number:<span cldate ass="text-dark"> {{ mynumber | number }}</span></p>
  <p>My Number<span class="text-dark"> {{ mynumber | percent }}</span></p>
  <p>My currency<span class="text-dark"> {{ mycurrency | currency:'INR' }}</span></p> -->
  <!-- <app-child [student]='students' [parenttochild]='title'></app-child> -->
<!-- <app-form></app-form> -->
<!-- <app-apiform></app-apiform> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-reactiveformapi></app-reactiveformapi> -->
<router-outlet></router-outlet>